# 10 Esercizi!

### 1. Hello, World!
- **Task:** Write a program that prints "Hello, World!" to the console.

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello World")

In [ ]:
nome= "ciao"
eta= 23
studente=True
print(nome, eta, studente)

ciao 23 True

In [ ]:
x = int(input("dimmi un numero:"))
y=int(input("dimmi un altro numero:"))
print(x+y)
print(x*y)
print(x/y)

dimmi un numero:3
dimmi un altro numero:4
7
12
0.75

In [ ]:
numero= int(input("dimmi un numero:"))
if numero>0:
   print("è positivo")
elif numero<0:
  print("è negativo")
else:
  print("è zero")

dimmi un numero:5
è positivo

### 2. Variable Manipulations
- **Task:** Create variables to store your name, age, and a boolean indicating whether you are a student or not. Then, print these variables.

In [ ]:
name="Alessandro Centomini"
Age=66
student=False
print(name, Age, student)

Alessandro Centomini 66 False

### 3. Basic Math Operations
- **Task:** Write a program that asks for two numbers from the user, calculates their sum, product, and difference, then prints the results.

In [ ]:
num1 = int(input("Dr. Salis favorisca un numero"))
num2 = int(input("Due se preferisce"))

print(f"{num1+num2} {num1*num2} {num1-num2}")

Dr. Salis favorisca un numero5
Due se preferisce10
15 50 -5

### 4. Conditional Statements
- **Task:** Ask the user for a number and print whether it is positive, negative, or zero.

In [ ]:
n=5
if n>0:
  print(n)
elif n<0:
  print(n)
elif n==0:
  print(n)

5

### 5. Loops: Counting and Sum
- **Task:** Write a program that prints all the numbers from 1 to 100. Then, modify the program to sum those numbers and print the total.

In [ ]:
print(list(range(101)),'\n',sum(list(range(101))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
 5050

### soluzioni 2

In [ ]:
somma=0
for i in range(101):
  somma+=i
print(somma)

5050

In [ ]:
lista=[]
for i in range(1,11):
  lista.append(i**2)
print(lista)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def power(base,exp):
  return pow(base,exp)

power(4,2)

16

In [ ]:
def

In [ ]:
!touch prova.txt

### 6. Lists and Iteration
- **Task:** Create a list of the first 10 square numbers (1, 4, 9, ..., 100). Use a loop to print each element of the list.

In [ ]:
lista = []
for i in range(1, 11):
  lista.append(i**2)
  print(lista[-1])

1
4
9
16
25
36
49
64
81
100

### 7. Functions and Scope
- **Task:** Write a function that takes two arguments, a base and an exponent, and returns the base raised to the exponent. Test your function with some arguments.

In [ ]:
def func(base,exp):
  return base**exp
print(func(4,2))

16

### 8. Reading and Writing Files
- **Task:** Write a program that reads a text file containing a list of names (one per line) and writes to another file the names in uppercase.

In [ ]:
stringa = "Ciao \n Hello Word \n"
with open("nome_file.txt", 'w') as f:
  f.write(stringa)

with open("nome_file.txt", 'r') as f:
  list_lines = f.readlines()

for i in list_lines:
  print(i.upper())

CIAO

 HELLO WORD

### 9. Exception Handling
- **Task:** Modify the program from exercise 3 to handle the case where the input is not a number, printing an error message instead of crashing.

In [ ]:
try:
  num1 = int(input("Dr. Salis favorisca un numero"))
  num2 = int(input("Due se preferisce"))
except:
  print('hai sbagliato Salis')
print(f"{num1+num2} {num1*num2} {num1-num2}")

hai sbagliato Salis

NameError: name 'num1' is not defined

### 10. Classes and Objects
- **Task:** Define a Python class representing a Rectangle. It should have attributes for width and height, a method to calculate the area, and another method to calculate the perimeter. Create a few Rectangle objects, and use them to demonstrate that your class works as expected.

In [ ]:
class Rettangolo:
  def __init__(self, w, h):
    self.w = w
    self.h = h

  def area(self):
    return self.h*self.w

  def perimetri(self):
    return self.h *2 + self.w*2

h = int(input("Inserisci altezza"))
w = int(input("Inserisci base"))
rettangolo = Rettangolo(w,h)

print(f"{rettangolo.area()}, {rettangolo.perimetri()}")

Inserisci altezza3
Inserisci base2
6, 10